<h1> All Restaurants </h1>
<ul>
      <% @restaurants.each do |restaurant| %>
        <li>
          <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        </li>
      <% end %>
</ul>
      <h2><%= link_to "Create new", new_restaurant_path %></h2>
